* {
    box-sizing: border-box;
}


body {
    font-family : 'Roboto', 'Arial', sans-serif;
    overflow-x  : hidden;
    width       : 100%;
    color       : #333;
    &.sticky-top {
        padding-top: $primary-navH;
    }
}

img {
    max-width : 100%;
    height    : auto;
}

.pull-left  { float: left }
.pull-right { float: right }
