$mainBlue: #28ABC5;
$mainYellow :#FFD700;

$mainOrange: #d59541;

$wrapper-padding: 18px;
$gutter-width: 65px;

$navs-color      : #1e2329;
$navs-text       : #FFF;
$primary-navH    : 80px;
$contacts-navH   : 40px;
$footer-navH     : 40px;