.primary-nav {
    position         : relative;
    z-index          : $primary-navZ;
    padding-top      : 20px;
    height           : $primary-navH;
    background-color : $navs-color;
    color            : $navs-text;
    border-top       : 3px solid $mainBlue;
    border-bottom    : 3px solid $mainYellow;
    @mixin atMedium { padding-top: 0 }
    &--fixed {
        position      : fixed;
        padding       : 0;
        margin-bottom : $primary-navH;
    }
    ul {
        @mixin clearfix;
        margin     : 0;
        padding    : 0;
        text-align : center;
    }
    li {
        position    : relative;
        top         : -6px;
        transition  : all 0.2s ease-in;
        display     : inline-block;
        margin      : 0;
        list-style  : none;
        font-weight : 300;
        font-size   : 1rem;
        height      : $primary-navH;
        padding     : calc($primary-navH / 2) 15px;
        @mixin atMedium{
            font-size : 1.25rem;
            padding   : calc($primary-navH / 2) 25px;
        }
        &:hover  { background-color: $mainBlue }
        &.active {
            background-color : $mainYellow;
            color            : #111;
            font-weight      : 800;
        }
    }
    a {
        @mixin noTextDecoration;
        display : block;
        width   : 100%;
        height  : 100%;
        &.current-link { color : $mainYellow }
    }
}
