<section id='activities' class="page-section page-section--yellow">
    <h1 class="section-title">Our <strong>Activities</strong></h1>
    <div class="wrapper generic-content">
        <div class="row text-center">
            <div class="col-md-6">
                <h4><strong>Weekly onsite activities include:</strong></h4>
                <ul>
                    <li><strong>Canal Olympics</strong> - Kayaking</li>
                    <li><strong>Pool Olympics</strong> – Volleyball, Basketball</li>
                    <li><strong>Beach Olympics</strong> – Scavenger Hunt, Volleyball</li>
                    <li>Bar Bingo</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4><strong>Equipment may be rented at the following daily rates:</strong></h4>
                <ul>
                    <li><strong>Kayaks</strong> - $25.00</li>
                    <li><strong>Snorkeling Gear</strong> - $25.00</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <h2 class='section-title sub-heading'>Off-Site activities abound for those seeking an active vacation</h2>
        <div class="wrapper wrapper--medium">
            <p>
                Its a short, three minute walk to a large, flat, private, soft, white sand beach; ideal for swimming, sunning, snorkeling, or fishing, for bonefish on the beach or grouper and snapper off the rock jetty. For more adventure, try diving for lobster right off the very quiet, secluded beach. Rental fishing boats, with guide, fishing rods and bait, are available. Snorkel equipment and ocean kayaks are also available for rent.
            <p/>
            <p>
                Scuba diving and snorkeling are some of the most popular activities, and the Bahamas boasts some of the best dive sites around. At the UNEXSO Dolphin Encounter, a swim with the friendly dolphins is a breathtaking experience to cherish! If you enjoy deep-water fishing, there are many rental boats, to go catch that elusive Grouper, Wahoo, Barracuda or other reef fish.
            <p/>
            <p>
                Horseback riding on one of Grand Bahama Island's great beaches is a very special equestrian experience. Don't miss the 40-acre Lucayan National Park, famous for its limestone caves that you can easily explore on foot, and even dive when arranged through UNEXSO. Numerous championship golf courses challenge your golfing skills. Kayaking is easy and fun, and Grand Bahama Island's beautiful mangrove waterways and saltwater flats are a fantastic a place to learn. Guided tours offer numerous birding, fishing and botanical opportunities. Water Sports offer great cruises aboard various boats for beach parties, dinner cruises, sunset tours, and booze cruises. Water sport rentals also include sea-doos, banana boat rides and parasailing. And, if you have had too much sun, there’s the Port Lucaya Marketplace for great food and shopping, or the Treasure Bay Casino for indoor activity.
            </p>
        </div>
    </div>
</section>
