<section id='testimonials' class="page-section page-section--blue">
    <div class="wrapper generic-content">
        <h1 class="section-title">Testimonials</h1>
        <div class="testimonial-inner">"Hypnotic turquoise water and pristine white-sand beach. The resort had a elegant charm that filled our eyes everywhere we glanced, fruit trees, great views of the Caribbean."</div>
        <div class="testimonial-inner">"We saw a 6 foot spotted bat ray in the canal and a small ray 20 yards off the beach. We tried some local dishes (guava duff- yum), and relaxed to our heart's content."</div>
        <div class="testimonial-inner">"The beach is beautiful. Because the water offshore is shallow, the waves are small, ideal for our young children. The water is clear, and the beach has nice white soft sand."</div>
        <div class="testimonial-inner">"This resort is a real garden spot, with many types of plants and flowers that I have never seen, beautiful! Bathrooms are luxurious with great amenities and a spa tub to relax after a hard day at the beach."</div>
        <div class="testimonial-inner">"Toes in the sand” style of luxury holiday.</div>
        <div class="testimonial-inner">"Our room has French doors that open to a balcony with an awesome view of the water. "</div>
        <div class="testimonial-inner">Snorkeling and bone fishing on the fly, right on the beach, only steps from the resort.</div>
    </div>
</section>