<section id='marina' class="page-section page-section--blue">
    <div class="wrapper wrapper--medium">
        <h1 class="section-title">Marina</h1>
        <div class="generic-content">
            <p>Cruise in from afar with your yacht or sailboat. The property has 200’ of deep water canal, which can accommodate boats up to 60 ft, 6 ft draft, some floating docks available. Available services include fresh water hookup, 15/30/50 amp at 120 or 220 volts, 60hz electrical connection, wireless high speed internet, outside shower, full free laundry facilities, fresh water heated pool, large hot tub and barbeque for your enjoyment. For those living on board, the laundry, pool, BBQ and wifi can be accessed for a fee of $5 per day. The owner is a rescue EMT crew member of Bahamas Air Sea Rescue Assoc. Full boat and motor repair are available nearby.</p>
            <div class="row row--gutters--small">
                <div class="col-md-4">
                    <div class="photo photo--tilted-left">
                        <img src="assets/images/marina.jpg" alt="Sea Breeze Marina">
                        <span class="caption">Our humble marina</span>
                    </div>
                </div>
                <div class="row__md-1 invisible">h</div>
                <div class="col-md-8">
                    <p>Sea Breezes Marina is located on the south shore of Grand Bahama Island in Freeport between the Xanadu and Our Lucaya hotels. It is situated only 80 miles off the coast of Florida. Sea Breezes Marina is at the end of a low usage canal, offering a quiet nights sleep, with minimum waves; an ideal, low stress, relaxing spot for a long weekend getaway or for permanent dockage of your vessel. The marina is located just 1000 ft off the south shore and is part of the gated, quiet luxury resort. Jetty entrance to the marina is 6 ft. at MLT and 9 ft. at HT with no overhead obstructions. The marina is located at a canal junction, providing a large turn-around area.<br /><strong>The entrance GPS co-ordinates to the marina are 26 29 22 N and 78 30 50 W.</strong></p>
                </div>
            </div>
            <p>
                If you are interested in short term or long term dockage at Sea Breezes Marina, please email <a href="mailto:info@seabreezevacationvillas.com">info@seabreezevacationvillas.com</a> or call us at <a href="tel:12423511186">242-351-1186</a> for additional Information.
            </p>
            <hr class="yellow" />
            <div class="row">
                <div class="row__md-6">
                    <h3 class='text-fluid-center'><strong>Daily Rates</strong></h3>
                    <ul>
                        <li>60&cent;  foot/day</li>
                        <li>Power connection (cable, high speed wireless, and water), 120V 15A, $15.00/day</li>
                        <li>Live on board, $5 /day.</li>
                    </ul>
                </div>
                <div class="row__md-6">
                    <h3 class='text-fluid-center'><strong>Monthly Rates</strong></h3>
                    <ul>
                        <li>45&cent;  foot/day</li>
                        <li>
                            Power connection (cable, high speed wireless, and water)
                            <ol>
                                <li>120V 15A, $10 /day</li>
                                <li>30V 50A, 50&cent; /kwh</li>
                            </ol>
                        </li>
                        <li>Live on board, $5 /day.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>