<section id="villas" class='page-section page-section--nav-color'>
    <h1 class="section-title">Villas</h1>
    <div class="wrapper">
        <div class="generic-content">
            <p>
            Fully furnished, attractively decorated, 2 bedroom, 2 bath, 900 sq. ft. air conditioned apartments, featuring full kitchen, granite countertops, dishwashers, stainless steel appliances, granite and marble floor tile. Fantastic view from any unit, either overlooking the ocean or the marina. Master bedroom features walk-in closet, Jacuzzi tub and queen bed. The living room has a comfortable reclining couch or chair from which to watch TV or a DVD. An iPod dock allows you to listen to your music and wifi means you can surf the web with your laptop. Sit on your private balcony and enjoy the spectacular view, with your morning coffee at sunrise or enjoy the stunning sunsets with an evening cocktail. Designed with tranquility and relaxation in mind.
            <br/ >
            Enjoy one of our suites with all the amenities of home, in a romantic cozy setting. All rooms at Sea Breezes are non smoking. For your comfort, our green resort is constructed of solid concrete with hurricane proof walls and roof and provides high security for your protection with electric gate and secure fences.
            </p>
        </div>
        <h4 class='section-title sub-heading'><strong>Room Amenities</strong></h4>
        <div class="row cards">
            <div class="col-md-6 text-center">
                <p>Jacuzzi in all master suites</p>
            </div>
            <div class="col-md-6 text-center">
                <p>A/C units in bedrooms and living room area</p>
            </div>
            <div class="col-md-6 text-center">
                <p>Cable TV with hundreds of channels to choose from</p>
            </div>
            <div class="col-md-6 text-center">
                <p>Flat screen TV w/ Home Theatre Surround Sound</p>
            </div>
            <div class="col-md-6 text-center">
                <p>Coffee Maker, Dishwasher, Microwave</p>
            </div>
        </div>
        <br />
        <p class='text-center'>
        *<em>Flexible Maid Service is</em> <strong>available for an additional fee.</strong>*
        </p>
    </div>
</section>